/*
// Blues
$blue: #003249;
$cyan-dark: #036092;
$cyan: #00A5CF;

// Green
$green-light-1: #8EE8BD;
$green-light-2: #B8F0D5;
$green-light-3: #D4F6E6;

// Grays
$gray: #2F2F2F;
$gray-light-1: #6D6D6D;
$gray-light-2: #969696;
$gray-light-3: #C0C0C0;
$so-so-gray: #E2E4EA;

// Red
$red: #FB4844;

$gold-dark: #FF994C;

// Neutral
$neutral-dark: #978C8F;
$neutral-light: #CBC5C7;
$white: #FFFFFF;

// Gradientes
$nordlys-darker-cta: linear-gradient(10deg, #1D5E84 9.69%, #3D88B4 45.44%, #4BE29A 113.68%);
$nordlys-ok: linear-gradient(55.92deg, #3D88B4 7.83%, #8EE8BD 94.78%);
$grad-blue: linear-gradient(90deg, #006FAB 0%, #72E3AD 100%);
$grad-orange: linear-gradient(90deg, #FE5F55 0%, #FFC482 100%);
*/


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;900&display=swap');

body {
  font-size: 18px;
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Manrope', sans-serif !important;
}

h1 {
  font-size: 80px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2px;
  padding-bottom: 20px;
}

h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: -1.5px;
  padding-bottom: 20px;
}

h3 {
  font-size: 48px !important;
  line-height: 52px !important;
  font-weight: 400 !important;
  letter-spacing: -1px !important;
  padding-bottom: 20px;

  &.line-separator {
    position: relative;
    display: table;
    margin-top: 95px;
    margin-bottom: 35px;

    @media (max-width: 992px) {
      margin-top: 56px;
      margin-bottom: 32px;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: -0.5px;
    }

    &::before {
      content: "";
      display: block;
      margin-bottom: 60px;
      width: 100%;
      height: 10px;
      background: #003249;

      @media (max-width: 992px) {
        margin-bottom: 28px;
        height: 5px;
      }
    }
  }
}

h4 {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.5px;
  font-weight: 400;
}

h5 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
}

.footer-strong {
  display: flex;
  margin-top: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

h6 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
}

p {
  font-size: 18px !important;
  line-height: 30px !important;
}

a {
  color: #2f2f2f;
  text-decoration: none !important;
  background-color: transparent;
}

#about p {
  font-size: 20px !important;
  line-height: 28px !important;
}

#about li {
  font-size: 20px !important;
  line-height: 28px !important;
}

#footer p {
  font-size: 16px !important;
  line-height: 20px !important;
}

#footer li {
  font-size: 16px !important;
  line-height: 20px !important;
}

#footer a {
  font-size: 16px !important;
  line-height: 20px !important;
}



.sticky-top {
  top: 20px;
  /* Adjust the offset from the top */
  z-index: 1020;
  /* Ensures it stays above other content */
  background-color: white;
  /* Optional: adds background to make it stand out */
  padding: 10px;
  /* Optional: adds padding around the menu items */
}

.poster-overlay {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 75%;
  background-color: #efefef;
  opacity: 0.7;
  padding: 10px;
  text-align: right;
  border-radius: 0px 20px 20px 0px
}

.poster-overlay-small {
  position: absolute;
  bottom: 200px;
  left: 0;
  width: 75%;
  background-color: #efefef;
  opacity: 0.7;
  padding: 10px;
  text-align: right;
  border-radius: 0px 20px 20px 0px
}

.hosting-company-category {
  color: #aaa !important;
}

/*
a.underline-animation {
  position: relative;
  display: inline-flex;
  padding-bottom: 2px;
}

a.underline-animation:hover {
  content: "";
  position: absolute;
  height: 1px;
  top: calc(100% + 1px);
  background: linear-gradient(55.92deg, #3D88B4 7.83%, #8EE8BD 94.78%);
  left: 1px;
  width: 0px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
*/

a.underline-animation {
  position: relative;
  color: #2f2f2f;
  text-decoration: none;
  padding: 10px;
  transition: all 500ms ease-in-out;
}

a.underline-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  /* Adjust the height of the line as needed */
  background: linear-gradient(55.92deg, #3D88B4 7.83%, #8EE8BD 94.78%);
  transform: scaleX(0);
  /* Initial state: invisible line */
  transform-origin: bottom left;
  transition: transform 500ms ease-in-out;
}

a.underline-animation:hover::after {
  transform: scaleX(1);
  /* Hover state: visible line */
}

.promo-factbox {
  height: 500px;
  border-radius: 0px 30px 30px 0px;
  font-size: 28px;
  line-height: 36px !important;
}

.promo-supporter-wrappper {
  display: flex;
  flex-wrap: wrap;
  height: 250px;
}

.promo-supporter-logo {
  filter: grayscale(100%) brightness(100) contrast(1);
  margin: 10px;
  /* Adjust margin as needed for spacing between images */
  max-height: 90px;
  /* Set a maximum height for each image */
  flex-basis: calc(33.33% - 10px);
  /* Adjust the width of each image (33.33% of the container width with margins) */
  flex-shrink: 1;
  /* Allow images to shrink if needed */
  box-sizing: border-box;
  /* Include padding and border in the calculation for flex-basis */
}

.supporter-logo {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
}

.supporter-logo-col {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.logo-gold {
  height: 100px;
  margin-bottom: 20px;
}

.logo-silver {
  height: 50px;
  filter: grayscale(70%);
  margin-bottom: 20px;
}

.logo-basic {
  height: 40px;
  filter: grayscale(100%);
  margin-bottom: 20px;
}

.subcat-card {
  height: auto;
  padding-bottom: 30px;
  padding-top: 10px;
  border-bottom: 1px solid #C0C0C0;
}

.supporter-logo:hover {
  cursor: pointer;
  border: 1px solid #e4e4e4;
}

.horizontal-rule {
  border-bottom: 1px solid #C0C0C0;
}

.event-card-wrapper {
  display: flex;
  align-items: stretch;
  margin-bottom: 84px;
}

.event-card {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #C0C0C0;

}

.event-card img {
  border-radius: 0 20px 20px 0;

}

.event-date {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}

.company-name {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  cursor: pointer;
}

.uvp-small {
  min-height: 500px;

  padding: 52px 42px 45px;
  border: 1px solid #C0C0C0;
  border-top-right-radius: 40px;
}

.uvp {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 500px;
  padding: 52px 42px 45px;
  border: 1px solid #C0C0C0;
  border-top-right-radius: 40px;
}

.uvp-card {
  cursor: pointer;
}

.uvp-header {
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 29px;
  font-weight: 400;
}

.uvp-seperator {
  width: 100%;
  height: 3px;
  margin-bottom: 25px;
  background: linear-gradient(90deg, #006FAB 0%, #72E3AD 100%);
}

.aside-info {
  width: 89%;
  height: 100%;
  margin-left: auto;
  padding-left: 60px;
  border-left: 1px solid #C0C0C0;
}

.slider-container {
  position: relative;
  width: 100%;
}

.slider {
  width: 100%;
  height: 3px;
  border: none;
  background: linear-gradient(to right, #409BAE, #1D5E84);
  -webkit-appearance: none;
  margin-top: 20px;
  /* Adjust as needed */
}

.slider-thumb {
  position: absolute;
  width: 40px;
  height: 40px;
  background: linear-gradient(to top right, #3F95B1, #4ADB9C);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  /* Adjust as needed */
}

.thumb-value {
  color: #fff;
  font-size: 16px;
  /* Adjust as needed */
  font-weight: bolder;
}


.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-arrow-up-right-green {
  background-image: url('/img/arrow-up-right-green.svg');
}

.arrow-link-sm {
  font-size: 18px;
  line-height: 24px;
}

.arrow-link i {
  min-width: 16px;
  margin-left: 10px;
}

.arrow-link-animation-top-right i {
  transition: 0.2s;
}

p a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
}

.name {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 2px;
  font-weight: 600;
}

.position {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.modal {
  display: block;
  visibility: hidden;
}

.modal-show {
  visibility: visible;
  background-color: rgba(169, 169, 169, 0.8);
  transition: opacity 0.3s linear;
}

.modal-content {
  opacity: 0;
}

.modal-show .modal-content {
  opacity: 1;
  transition: 0.3s linear;
}

.border-left-gold {
  border-top: 3px solid #ffd700;
}

.border-left-silver {
  border-top: 3px solid #c0c0c0;
}

.border-left-basic {
  border-top: 3px solid #eee;
}

.nav-link {
  font-size: 1.4rem !important;
}

.nav-link {
  padding-bottom: 0 !important
}

.navbar-norwep {
  background-color: #fff !important;
}

.btn-norwep {
  padding: 17px 35px;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 72px;
  padding: 23px 50px;
  background: linear-gradient(10deg, #1D5E84 9.69%, #3D88B4 45.44%, #4BE29A 113.68%);
  /*background: linear-gradient(var(--gradient-ang), var(--gradient-color-1) 9.69%, var(--gradient-color-2) 45.44%, var(--gradient-color-3) 113.68%);
  transition: --gradient-ang 0.2s, --gradient-color-1 0.2s, --gradient-color-2 0.2s, --gradient-color-3 0.2s, box-shadow 0.2s;*/
  white-space: normal;
  color: #fff !important;
  text-decoration: none;
  border: 1px solid #364c89;
  border-radius: 72px;
  overflow: inherit;
}

.btn-norwep:hover {
  border: 1px solid #368942;
}

video {
  position: absolute;
  bottom: 50;
  left: 0;
  filter: blur(2px);
}

.video-wrapper {
  /* Telling our absolute positioned video to 
  be relative to this element */
  position: relative;

  width: 100%;
  height: 600px;

  /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0px 50px 50px 0px;
}

.video-wrapper>img {
  z-index: 1000;
  max-width: 60%;
}

.poster-wrapper {
  background-image: url('https://dummyimage.com/16:6x1080');
  background-size: cover;
  width: 100%;
  height: 500px;
  border-radius: 0px 50px 50px 0px;
}

.poster-wrapper-small {
  background-image: url('https://dummyimage.com/3:4x800');
  background-size: cover;
  width: 100%;
  height: 500px;
  border-radius: 0px 50px 50px 0px;
}

.page-img {
  border-radius: 0px 30px 30px 0px;
}

.partner-promo {
  border-radius: 0px 10px 10px 0px;
  min-height: 300px;
  padding: 20px;
}

.customers-promo {
  border-radius: 0px 10px 10px 0px;
  min-height: 300px;
  padding: 20px;
}

.customers-promo p {
  font-size: 32px !important;
  line-height: 44px !important;
}

.about-description {}

.about-description p {
  font-size: 32px !important;
  line-height: 44px !important;
}

.page-text p {
  font-size: 24px !important;
  line-height: 36px !important;
}

.site-promo {
  border: 1px solid #003249;
  border-radius: 0px 10px 10px 0px;
  min-height: 300px;
  padding: 20px;
}

.site-promo-basic {
  border: 1px solid #8EE8BD;
  border-radius: 0px 10px 10px 0px;
  min-height: 300px;
  padding: 20px;
}

.items-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
  /* Adjust the transition duration as needed */
}

.item {
  flex: 0 0 auto;
  width: 200px;
  /* Adjust the width of each item as needed */
  margin-right: 10px;
  /* Adjust the margin between items as needed */
}

.carousel-item {
  height: 200px;
  border: 1px solid #ddd;
}

.fade-container {
  display: flex;
  width: 100%;
}

.fade-item {
  display: none;
  width: 100%;
  min-height: 500px;
  /*padding: 20px;
  margin: 10px;
  background-color: #3498db;
  color: white;*/
  border: 0px solid red;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-item.visible {
  display: block;
  opacity: 1;
}

.norwep-bg-primary {
  background-color: #003e52;
}

.norwep-bg-primary-contrast {
  background-color: #b2c5ca;
}

.norwep-bg-secondary {
  background-color: #00a5cf;
}

.norwep-bg-secondary-contrast {
  background-color: #b2e3f0;
}

.norwep-bg-tertiary {
  background-color: #06c5fa;
}

.norwep-bg-tertiary-contrast {
  background-color: #b2e3f0;
}

.norwep-bg-success {
  background-color: #72e3ad;
}

.norwep-bg-success-contrast {
  background-color: #d4f6e6;
}

.norwep-bg-warning {
  background-color: #ffc409;
}

.norwep-bg-warning-contrast {
  background-color: #ffecda;
}


.norwep-bg-danger {
  background-color: #fe5f55;
}

.norwep-bg-danger-contrast {
  background-color: #fecfcc;
}

.norwep-bg-dark {
  background-color: #2f2f2f;
}

.norwep-bg-medium {
  background-color: #aba9a9;
}

.norwep-bg-light {
  background-color: #e4dee0;
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
  background: linear-gradient(to left, #409BAE, #1D5E84);
  min-height: 500px;
  padding: 0 0 25px 0;
  color: #eee !important;
  font-size: 14px;
}

#footer h3,
h5 {
  color: #eee !important;
}

#footer .footer-top {
  background: #040919;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 26px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: SourceSansProRegular;
  font-weight: 700;
  color: #fff;
}

#footer .footer-top .footer-info img {
  height: 40px;
  margin-bottom: 10px;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: SourceSansProRegular;
  color: #fff;
}

#footer .footer-top .social-links a {
  display: inline-block;
  background: #222636;
  color: #eee;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#footer .footer-top .social-links a i {
  line-height: 0;
  font-size: 16px;
}

#footer .footer-top .social-links a:hover {
  background: #72e3ad;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 2px solid #72e3ad;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 5px;
  color: #72e3ad;
  font-size: 18px;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #262c44;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #72e3ad;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type=email] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type=submit] {
  background: #72e3ad;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type=submit]:hover {
  background: #e0072f;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}